.card img {
    width: 220px;
    height: 170px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.card:hover{
  opacity: 1;
  transform: scale(1.04);
   }
#button_reload {
  display: flex;
  justify-content: right;
}

.card {
    /* display: flex; */
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
    width: 250px;
    padding-left: 1px;
    padding-right: 1px;
    color: white;
    
}
.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.link {
  color: white;
}


li
    {
        display: inline-block;
        justify-content: center;
        background: transparent;
        padding: 2px 2px;
        margin-right: 15px;
        border-radius: 0px;
        /* border-color: white; */
        font-family: sans-serif;
        font-size: 1.1rem;
        min-width: 20px;
        text-align: center;
        user-select: none;
    }

li:active {
  background-color: lightgray;
}


.title_main {
  color: white;
  display: flex;
  justify-content: left;
  font-size: 40px;
  padding-block: 1px;
  margin-block: 5px;
}

.bar {
    margin-top: 25px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.bar button {
  font-size: 16px;
  /* padding: 5px 5px; */
  padding-block: 5px;
  color: white;
  border-color: white;
  border-width: 3px;
  border-radius: 5px;
  background-color: black;
  margin-right: 3px;
}

#form_gamecard {
  text-align: center;
}
#form_gamecard input {
  font-size: 16px;
  /* width: 60%; */
  padding-block: 5px;
  margin: 5px 5px;
  box-sizing: border-box;
  color: white;
  border-color: white;
  border-width: 3px;
  border-radius: 5px;
  background-color: black;
}



.button_paginate {
    color: white;
    display: flexbox;
    flex-direction: row;
}

.select_div {
    display: flexbox;
    flex-direction: row;
}
.select_div option {
  font-size: 16px;
}
.select_div select {
  font-family:Arial, Helvetica, sans-serif;
  padding-block: 5px;
  font-size: 16px;
  color: white;
  border-width: 3px;
  border-color: white;
  /* border-color: rgb(247, 187, 76); */
  /* border-width: 3px; */
  box-shadow: 1px white;
  border-radius: 5px;
  background-color: black;
}
/* .pagination {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    ul{
      list-style: none;
      padding: 0px;
      display: flex;
  
      li{
        padding: 10px 15px;
        margin-right: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        color: #fff;
        font-size: 1.1rem;
        min-width: 20px;
        text-align: center;
        user-select: none;
      }
    }
  } */