.div_main {
    display: flex;
    flex-wrap: wrap;
}
.check {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgray;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 200px;
    align-items: center;
    color: black;
    font-size: 15px;
}
.check_list {
    color: black;
    font-size: 15px;
}

.form{
    
    background-color: lightgray;
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.div_input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.div_description {
    width: 500px;
}
.input_description {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:unset;
}
.button_add {
    background-color: white;
    opacity: 0.5;
    padding: 10px;
    font-size: 20px;
}
.button_add:hover {
    opacity: 1;
}
.div_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input {
    justify-content: flex-end;
}